<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.1 2004-08-10 12:14:41 dvojtise Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "org.inria.SimpleUML.transformations"
    version = "0.0.1"
    provider-name = "%providerName">

  <requires>
     <import plugin="SimpleUML"/>
     <import plugin="SimpleUML.edit"/>
     <import plugin="org.inria.BasicMTL.runtime" export="true"/>
     <import plugin="org.inria.EMFDriver"/>
  </requires>

  <runtime>
    <library name="SimpleUML_transformations.jar">
       <export name="*"/>
    </library>
  </runtime>


</plugin>

