<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.4 2004-10-26 10:02:16 dvojtise Exp $
 */
-->

<plugin
   id="org.inria.SimpleUML.transformations"
   name="%pluginName"
   version="0.0.1"
   provider-name="%providerName"
   class="SimpleUML.transformations.TransformationsPlugin">

  <requires>
     <import plugin="SimpleUML"/>
     <import plugin="SimpleUML.edit"/>
     <import plugin="org.inria.EMFDriver"/>
     <import plugin="org.eclipse.core.runtime"/>
     <import plugin="org.inria.BasicMTL.runtime" export="false"/>
     <import plugin="org.inria.BasicMTL.MDRDriver" export="true"/>
     <import plugin="ModFactDriver" export="true"/>
  </requires>

  <runtime>
    <library name="SimpleUML_transformations.jar">
       <export name="*"/>
    </library>
  </runtime>


</plugin>

