<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.1 2004-08-10 12:00:00 dvojtise Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "SimpleUML"
    version = "1.0.0"
    provider-name = "%providerName">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.emf.ecore" export="true"/>
  </requires>

  <runtime>
    <library name="runtime/SimpleUML.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "null" 
       class = "SimpleUML.SimpleUMLPackage" />
  </extension>

</plugin>

