<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.inria.mtl.plugin"
   name="%pluginName"
   version="1.0.0"
   provider-name="Serge DZALE"
   class="org.inria.mtl.plugin.MTLPlugin">

   <runtime>
      <library name="mtl.jar"/>
      <library name="MTL/bin/BasicMTLc.jar"/>
      <library name="MTL/bin/ThirdParty/log4j/log4j.jar"/>
      <library name="MTL/bin/ThirdParty/ANTLR/antlrfull.jar"/>
      <library name="MTL/bin/BasicMTLruntime.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.pde.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.apache.xerces"/>
   </requires>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%MTLPerspective"
            icon="icons/fmtl.gif"
            class="org.inria.mtl.plugin.perspectives.MTLPerspective"
            id="org.inria.mtl.plugin.MTLPerspective">
      </perspective>
   </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
  <perspectiveExtension targetID="org.inria.mtl.plugin.MTLPerspective">
  	<showInPart id="org.eclipse.ui.views.ResourceNavigator" /> 
 	 <showInPart id="org.eclipse.jdt.ui.PackageExplorer" /> 
  </perspectiveExtension>
 <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
  	<newWizardShortcut id="org.inria.plugin.mtl.wizard.MTLFolderCreationWizard" /> 
  	<newWizardShortcut id="org.inria.plugin.mtl.wizard.MTLFileCreationWizard" /> 
  	<newWizardShortcut id="org.inria.plugin.mtl.wizard.MTLProjectCreationWizard" /> 
  	<perspectiveShortcut id="org.inria.mtl.plugin.MTLPerspective" /> 
  <actionSet id="org.inria.mtl.plugin.actionSet" /> 
  </perspectiveExtension>
 <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
  	<newWizardShortcut id="org.inria.plugin.mtl.wizard.MTLFolderCreationWizard" /> 
  	<newWizardShortcut id="org.inria.plugin.mtl.wizard.MTLFileCreationWizard" /> 
  	<newWizardShortcut id="org.inria.plugin.mtl.wizard.MTLProjectCreationWizard" /> 
  	<perspectiveShortcut id="org.inria.mtl.plugin.MTLPerspective" /> 
  	<actionSet id="org.inria.mtl.plugin.actionSet" /> 
  </perspectiveExtension>
  </extension>
    <extension
         id="MTLNature"
         name="%MTLNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.inria.mtl.plugin.builders.MTLNature">
         </run>
      </runtime>
      <builder
            id="org.inria.mtl.plugin.MTLPlugin.MTLBuilder">
      </builder>
   </extension>
   <extension
         id="MTLBuilder"
         name="%MTLBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.inria.mtl.plugin.builders.MTLBuilder">
         </run>
      </builder>
   </extension>
  <extension point="org.eclipse.team.core.fileTypes">
  	<fileTypes type="text" extension="mtl" /> 
  </extension>
  
 <!--  <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/nature.gif"
            natureId="org.inria.mtl.plugin.MTLNature"
            id="MTLNatureImage">
      </image>
   </extension>-->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%MTLEditor"
            default="true"
            icon="icons/file_mtl.gif"
            extensions="mtl"
            contributorClass="org.inria.mtl.plugin.editors.MTLActionContributor"
            class="org.inria.mtl.plugin.editors.MTLUnitEditor"
            id="org.inria.mtl.plugin.editors.MTLUnitEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="MTL "
            visible="true"
            id="org.inria.mtl.plugin.actionSet">
         <menu
               label="%MTL.menu"
               id="org.inria.mtl.plugin.MTLMenu">
            <separator
                  name="MTLGroup">
            </separator>
         </menu>
         <action 
               label="%build.all.projects"
               icon="icons/xz.gif"
               tooltip="%tooltip.build.all.projects"
               class="org.inria.mtl.plugin.actions.buildAllAction"
               menubarPath="org.inria.mtl.plugin.MTLMenu/MTLGroup"
               toolbarPath="Normal"
               id="org.inria.mtl.plugin.popup.actions.buildAllAction">
               enablesFor="+">
			   <selection class="org.eclipse.core.resources.IProject">
			   </selection>
         </action>
         <action 
               label="%build.project"
               icon="icons/xz.gif"
               tooltip="%tooltip.build.project"
               class="org.inria.mtl.plugin.actions.buildprojectAction"
               menubarPath="org.inria.mtl.plugin.MTLMenu/MTLGroup"
               toolbarPath="Normal"
               id="org.inria.mtl.plugin.actions.buildprojectAction">
               enablesFor="1">
			   <selection class="org.eclipse.core.resources.IProject">
			   </selection> 
         </action>
         <action 
               label="%build.folder"
               icon="icons/xz.gif"
               tooltip="%tooltip.build.folder"
               class="org.inria.mtl.plugin.actions.buildfolderAction"
               menubarPath="org.inria.mtl.plugin.MTLMenu/MTLGroup"
               toolbarPath="Normal"
               id="org.inria.mtl.plugin.actions.buildfolderAction">
               enablesFor="1">
			   <selection class="org.eclipse.core.resources.IFolder">
			   </selection>
         </action>
      </actionSet>
            <actionSet
            label="%CodingActionSet.label"
            visible="false"
            id="org.inria.mtl.plugin.CodingActionSet">
<!-- =========================================================================== -->
<!-- Source Menu                                                                 -->
<!-- =========================================================================== -->
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="org.inria.mtl.plugin.source.menu">
         	<separator name="editGroup" />
         </menu>
         <action
               definitionId="org.inria.mtl.plugin.mtleditor.Format"
               label="%FormatAction.label"
               retarget="true"
               menubarPath="org.inria.mtl.plugin.source.menu/editGroup"
               id="org.inria.mtl.plugin.mtleditor.Format">
         </action>
         <action
               label="%ShiftLeftAction.label"
               retarget="true"
               menubarPath="org.inria.mtl.plugin.source.menu/editGroup"
               id="org.inria.mtl.plugin.mtleditor.ShiftLeft">
         </action>
         <action
               label="%ShiftRightAction.label"
               retarget="true"
               menubarPath="org.inria.mtl.plugin.source.menu/editGroup"
               id="org.inria.mtl.plugin.mtleditor.ShiftRight">
         </action>
         <action
               definitionId="org.inria.mtl.plugin.mtleditor.Uncomment"
               label="%UncommentAction.label"
               retarget="true"
               menubarPath="org.inria.mtl.plugin.source.menu/editGroup"
               id="org.inria.mtl.plugin.mtleditor.Uncomment">
         </action>
         <action
               definitionId="org.inria.mtl.plugin.mtleditor.Comment"
               label="%CommentAction.label"
               retarget="true"
               menubarPath="org.inria.mtl.plugin.source.menu/editGroup"
               id="org.inria.mtl.plugin.mtleditor.Comment">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.inria.mtl.plugin.CodingActionSet">
         <part id="org.inria.mtl.plugin.editors.MTLUnitEditor" />
      </actionSetPartAssociation>
   </extension>
<!-- =========================================================================== -->
<!-- MTL Editor Action Definition IDs -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.actionDefinitions">
<!-- edit -->
      <actionDefinition
            id="org.inria.mtl.plugin.contentAssist.proposals">
      </actionDefinition>
<!-- source -->
      <actionDefinition
            id="org.inria.mtl.plugin.mtleditor.Comment">
      </actionDefinition>
      <actionDefinition
            id="org.inria.mtl.plugin.mtleditor.Uncomment">
      </actionDefinition>
      <actionDefinition
            id="org.inria.mtl.plugin.mtleditor.Format">
      </actionDefinition>
      <actionDefinition
            id="org.inria.mtl.plugin.editors.show.outline">
      </actionDefinition>
      <actionDefinition
            id="org.inria.mtl.plugin.editors.show.next.problem">
      </actionDefinition>
      <actionDefinition
            id="org.inria.mtl.plugin.editors.show.previous.problem">
      </actionDefinition>
   </extension>
 <!-- =========================================================================== -->
<!-- MTL Editor Key Bindings -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.acceleratorSets">
      <acceleratorSet
            scopeId="org.eclipse.ui.textEditorScope"
            configurationId="org.eclipse.ui.emacsAcceleratorConfiguration">
<!-- edit -->
         <accelerator
               key="Ctrl+Shift+P"
               id="org.inria.mtl.plugin.editors.matching.bracket">
         </accelerator>
         <accelerator
               key="Ctrl+1"
               id="org.eclipse.ui.edit.text.contentAssist.proposals">
         </accelerator>
<!-- source -->
         <accelerator
               key="Ctrl+/"
               id="org.inria.mtl.plugin.mtleditor.Comment">
         </accelerator>
         <accelerator
               key="Ctrl+\"
               id="org.inria.mtl.plugin.mtleditor.Uncomment">
         </accelerator> 
         <accelerator
               key="Ctrl+Shift+F"
               id="org.inria.mtl.plugin.mtleditor.Format">
         </accelerator>
         <accelerator
               key="Ctrl+O"
               id="org.inria.mtl.plugin.editors.show.outline">
         </accelerator>
         <accelerator
               key="Ctrl+F3"
               id="org.inria.mtl.plugin.editors.open.structure">
         </accelerator>
      </acceleratorSet>
      <acceleratorSet
            scopeId="org.eclipse.ui.textEditorScope"
            configurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
<!-- edit -->
         <accelerator
               key="Ctrl+Shift+P"
               id="org.inria.mtl.plugin.editors.matching.bracket">
         </accelerator>
         <accelerator
               key="Ctrl+Space"
               id="org.eclipse.ui.edit.text.contentAssist.proposals">
         </accelerator> 
<!-- source -->
         <accelerator
               key="Ctrl+/"
               id="org.inria.mtl.plugin.mtleditor.Comment">
         </accelerator>
         <accelerator
               key="Ctrl+\"
               id="org.inria.mtl.plugin.mtleditor.Uncomment">
         </accelerator>
         <accelerator
               key="Ctrl+Shift+F"
               id="org.inria.mtl.plugin.mtleditor.Format">
         </accelerator>
         <accelerator
               key="Ctrl+F3"
               id="org.inria.mtl.plugin.editors.open.structure">
         </accelerator>
         <accelerator
               key="Ctrl+O"
               id="net.sourceforge.phpeclipse.ui.edit.text.php.show.outline">
         </accelerator>
      </acceleratorSet>
      <acceleratorSet
            scopeId="org.eclipse.ui.textEditorScope"
            configurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
<!-- edit -->
         <accelerator
               platform="carbon"
               key="Command+Shift+P"
               id="org.inria.mtl.plugin.editors.matching.bracket">
         </accelerator>
         <accelerator
               platform="carbon"
               key="Command+1"
               id="org.eclipse.ui.edit.text.contentAssist.proposals">
         </accelerator>
<!-- source -->
         <accelerator
               platform="carbon"
               key="Command+/"
               id="org.inria.mtl.plugin.mtleditor.Comment">
         </accelerator>
         <accelerator
               platform="carbon"
               key="Command+\"
               id="org.inria.mtl.plugin.mtleditor.Uncomment">
         </accelerator> 
      </acceleratorSet>
   </extension>
 
<!-- =========================================================================== -->
<!-- MTL wizards -->
<!-- =========================================================================== -->
 
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%new.category.name"
            id="org.inria.plugin.mtl.wizcat">
      </category>
      <wizard
            name="%new.pluginProject.name"
            icon="icons/mtl2.gif"
            category="org.inria.plugin.mtl.wizcat"
            class="org.inria.mtl.plugin.wizards.NewProjectWizard"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.ui.resourcePerspective"
            project="true"
            finalPerspective="org.inria.mtl.plugin.MTLPerspective"
            id="org.inria.plugin.mtl.wizard.MTLProjectCreationWizard">
         <description>
            %new.pluginProject.description 
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
      <wizard
            name="%new.pluginFolder.name"
            icon="icons/mtl.gif"
            category="org.inria.plugin.mtl.wizcat"
            class="org.eclipse.ui.wizards.newresource.BasicNewFolderResourceWizard"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.ui.resourcePerspective"
            project="true"
            finalPerspective="org.inria.mtl.MTLPerspective"
            id="org.inria.plugin.mtl.wizard.MTLFolderCreationWizard">
         <description>
            %new.pluginFolder.description
         </description>
      </wizard>
      <wizard
            name="%new.pluginFile.name"
            icon="icons/file_mtl.gif"
            category="org.inria.plugin.mtl.wizcat"
            class="org.eclipse.ui.wizards.newresource.BasicNewFileResourceWizard"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.ui.resourcePerspective"
            project="true"
            finalPerspective="org.inria.mtl.plugin.MTLPerspective"
            id="org.inria.plugin.mtl.wizard.MTLFileCreationWizard">
         <description>
            %new.pluginFile.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MTLPreferencePage"
            class="org.inria.mtl.plugin.preferences.MTLPreferencePage"
            id="org.inria.plugin.mtl.MTLPreferencePage">
      </page>
      <page
            name="%MTLPreferencePageCompilers"
            category="org.inria.plugin.mtl.MTLPreferencePage"
            class="org.inria.mtl.plugin.preferences.MTLCompilerPreferencePage"
            id="org.inria.plugin.mtl.MTLPreferencePageCompilers">
      </page>
      <page
            name="%MTLNewProjectPreferencePage"
            category="org.inria.plugin.mtl.MTLPreferencePage"
            class="org.inria.mtl.plugin.preferences.NewProjectPreferencePage"
            id="org.inria.plugin.mtl.MTLNewProjectPreferencePage">
      </page>
      <page
            name="%MTLEditorPreferencePage"
            category="org.inria.plugin.mtl.MTLPreferencePage"
            class="org.inria.mtl.plugin.preferences.MTLPreferencePageEditor"
            id="org.inria.plugin.mtl.MTLPreferencePageEditor">
      </page>
      <page
            name="%outline"
            category="org.inria.plugin.mtl.MTLPreferencePage"
            class="org.inria.mtl.plugin.preferences.MTLOutlinePage"
            id="org.inria.mtl.plugin.preferences.MTLOutlinePage">
      </page>
      <page
            name="%Log4J"
            category="org.inria.plugin.mtl.MTLPreferencePage"
            class="org.inria.mtl.plugin.preferences.Log4jPreferencePage"
            id="org.inria.mtl.plugin.preferences.Log4jPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="MTL Properties"
            nameFilter="*"
            class="org.inria.mtl.plugin.properties.MTLProjectPropertyPage"
            id="org.inria.mtl.plugin.mtlpropertypage">
         <filter
               name="nature"
               value="org.inria.mtl.plugin.MTLNature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="org.inria.mtl.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="org.inria.mtl.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.inria.mtl.plugin.popIproject"
        objectClass="org.eclipse.core.resources.IProject">
        <filter name="projectNature"
            value="org.inria.mtl.plugin.MTLNature">
        </filter>
       <menu label="%MTLMenu" path="additions" 
        id="org.inria.mtl.plugin.menu">
	<separator name="org.inria.mtl.plugin.menu/additions" /> 
  		</menu>
	    <action id="org.inria.mtl.plugin.popIproject.compile"
	       label="%compile.project.action"
	       tooltip="Run MTL Project."
	       menubarPath="additions"
           class="org.inria.mtl.plugin.popup.actions.buildprojectAction"	
	       enablesFor="1">
	    </action>
	 </objectContribution>
 	</extension>
    <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.inria.mtl.plugin.popIFolder"
        objectClass="org.eclipse.core.resources.IFolder">
        <filter name="projectNature"
            value="org.inria.mtl.plugin.MTLNature"> 
      </filter> 
	    <action id="org.inria.mtl.plugin.popIfolder.compile"
	       label="%compile.folder.action"
	       menubarPath="additions"
	       tooltip="Compile the selected source Folder."
           class="org.inria.mtl.plugin.popup.actions.buildfolderAction"	
	       enablesFor="+">
	    </action>
	 </objectContribution>
 	</extension>
   <extension
         point="org.eclipse.ui.views">
         <category
            	name="%MTLViewCategory"
            	id="MTLPlugin">
		 </category>
      <view
            name="%mtlConsoleView"
            icon="icons/fmtl.gif"
            category="MTLPlugin"
            class="org.inria.mtl.plugin.views.MTLConsole"
            id="org.inria.mtl.plugin.views.mtlconsoleview">
      </view>
   </extension>
   <extension
         id="mtlmarker"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
         id="mtlproblem"
         name="%MTLProblem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.inria.mtl.plugin.MTLPlugin.mtlmarker">
      </super>
      <attribute
            name="mtlAttribute">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
